/node_modules
/public/hot
/public/bids_images/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/vendor
storage/logs/laravel.log
.DS_Store
.DS_Store?
/storage/*
