<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
   RewriteEngine on
RewriteCond %{HTTP_HOST} ^followback.com [NC]
RewriteRule ^(.*)$ http://www.followback.com/$1 [L,R=301,NC]

    
</IfModule>